/* latin */
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 400;
  src: local('Orbitron-Light'), local('Orbitron-Regular'), url(https://fonts.gstatic.com/s/orbitron/v7/HmnHiRzvcnQr8CjBje6GQvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Orbitron';
  font-style: normal;
  font-weight: 700;
  src: local('Orbitron-Bold'), url(https://fonts.gstatic.com/s/orbitron/v7/Y82YH_MJJWnsH2yUA5AuYY4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* main brand color */
/* yellow */
/* grigio */
body {
  align: center;
  padding: 50px 0px 0px 0px;
  z-index: 0;
  background: #000 url('../images/bg-pattern-dark.jpg') 0 0 repeat;
  font-family: 'Orbitron', sans-serif;
  /* main content */
  /* pagina garage */
}
body .row-header {
  margin: 0px auto;
  padding: 0px 0px;
}
body .row-header nav.navbar {
  background-color: #ffcc00;
  color: #333;
}
body .row-header nav.navbar a {
  color: #333;
}
body .row-header nav.navbar a:hover,
body .row-header nav.navbar a:focus {
  color: #333;
  background-color: #ffd633;
}
body .row-header nav.navbar .navbar-brand {
  padding: 0px;
}
body .row-header nav.navbar .navbar-brand img {
  height: 50px;
}
body .row-content {
  margin: 0px auto;
  padding: 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}
body .row-content.row-white {
  border: 4px solid #fc0;
  background-color: white;
  margin: 30px 0;
}
body .row-content #latest-models h2 {
  color: #ffcc00;
  margin: 40px 0;
}
body .row-content #latest-models .thumbnail {
  border: 4px solid #ffcc00;
  border-radius: 0;
}
body .row-content #latest-models .thumbnail h3,
body .row-content #latest-models .thumbnail h4,
body .row-content #latest-models .thumbnail h5,
body .row-content #latest-models .thumbnail p.btn-cont {
  text-align: center;
}
body .row-content #our-workflow h2 {
  color: #ffcc00;
  margin: 40px 0;
}
body .row-content #our-workflow .media {
  background-color: #fff;
  border: 4px solid #ffcc00;
  border-radius: 0;
  margin: 30px 0;
}
body #garage {
  background-color: grey;
}
body #garage li {
  background-color: white;
}
body #model-detail {
  background-color: white;
}
body footer.row-footer {
  margin: 0px auto;
  padding: 20px 0px;
  background-color: #ffcc00;
}
body footer.row-footer address {
  color: #0f0f0f;
  font-size: 80%;
  margin: 0px;
}
.jumbotron {
  margin: 0px auto;
  padding: 0;
}
.carousel {
  background: #333;
}
.carousel .item {
  height: 500px;
}
.carousel .item img {
  left: 0;
  min-height: 300px;
  position: absolute;
  top: 0;
}
.tab-content {
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  padding: 10px;
}
.affix {
  top: 100px;
}
#carouselButtons {
  bottom: 0px;
  position: absolute;
  right: 0px;
}
/*# sourceMappingURL=mystyles.css.map */