/* latin */
@font-face {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 400;
    src: local('Orbitron-Light'), local('Orbitron-Regular'), url(https://fonts.gstatic.com/s/orbitron/v7/HmnHiRzvcnQr8CjBje6GQvesZW2xOQ-xsNqO47m55DA.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 700;
    src: local('Orbitron-Bold'), url(https://fonts.gstatic.com/s/orbitron/v7/Y82YH_MJJWnsH2yUA5AuYY4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* main brand color */
@brand-color: #ffcc00; /* yellow */
@brand-color-secondary: #333; /* grigio */ 

body {
    align: center;
    padding: 50px 0px 0px 0px;
    z-index: 0;
    background: #000 url('../images/bg-pattern-dark.jpg') 0 0 repeat;
    font-family: 'Orbitron', sans-serif;

    .row-header {
        margin: 0px auto;
        padding: 0px 0px;

        nav.navbar{
            background-color: @brand-color;
            color: @brand-color-secondary;

            a{
                color: @brand-color-secondary;
                &:hover, &:focus{
                    color: @brand-color-secondary;
                    background-color: lighten(@brand-color, 10%);
                }
            }

            .navbar-brand{

                padding:0px;

                img{
                    height:50px;
                }

            }
        }
    }



    /* main content */



    .row-content {
        margin: 0px auto;
        padding: 0px;
        border-bottom: 1px ridge;
        min-height: 400px;

        &.row-white{
            border: 4px solid #fc0;
            background-color: white;
            margin: 30px 0;
        }

        #latest-models{
            h2{
                color: @brand-color;
                margin:40px 0;
            }

            .thumbnail{
                border: 4px solid @brand-color;
                border-radius:0;
                h3,h4,h5,p.btn-cont{
                    text-align: center;
                }
            }
        }

        #our-workflow{
            h2{
                color: @brand-color;
                margin:40px 0;
            }

            .media{
                background-color: #fff;
                border: 4px solid @brand-color;
                border-radius:0;
                margin:30px 0;
                h3{

                }
            }
        }

    }

    /* pagina garage */

    #garage{
        background-color: grey;

        li{
            background-color: white;
        }
    }

    #model-detail{
        background-color: white;
    }


    footer.row-footer{

        margin: 0px auto;
        padding: 20px 0px;
        background-color: @brand-color;

        address {
            color: #0f0f0f;
            font-size: 80%;
            margin: 0px;
        }
    }


}






.jumbotron {
    margin: 0px auto;
    padding: 0;
}
.carousel {
    background: #333;
}
.carousel .item {
    height: 500px;
}
.carousel .item img {
    left: 0;
    min-height: 300px;
    position: absolute;
    top: 0;
}



.tab-content {
    border-bottom: 1px solid #dddddd;
    border-left: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    padding: 10px;
}
.affix {
    top: 100px;
}
#carouselButtons {
    bottom: 0px;
    position: absolute;
    right: 0px;
}
 