<li><a ui-sref="app.aboutus">{{ 'HEADER.MENU.ABOUT' | translate }}</a></li>
<li><a ui-sref="app.garage">{{ 'HEADER.MENU.GARAGE' | translate }}</a></li>
<li><a ui-sref="app.contactus">{{ 'HEADER.MENU.CONTACT' | translate }}</a></li>