
<div class="container">
    
    <div class="row row-content row-white">
        <div class="col-xs-12 col-sm-8">
            <h2>{{ 'ABOUTUS.TITLE' | translate }}</h2>
            <div ng-bind-html="'{{'ABOUTUS.CONTENT' | translate}}'"></div>
        </div>
        <div class="col-xs-12 col-sm-4">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Facts At a Glance</h3>
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>Started</dt>
                        <dd>3 Feb. 2013</dd>
                        <dt>Major Stake Holder</dt>
                        <dd>HK Fine Foods Inc.</dd>
                        <dt>Last Year's Turnover</dt>
                        <dd>$1,250,375</dd>
                        <dt>Employees</dt>
                        <dd>40</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>


    <!--div class="row row-content">
        <div class="col-xs-12 col-sm-9">
            <h2>Corporate Leadership</h2>
            <div ng-if="!showLeadership">
              <h3>{{message}}</h3>
            </div>
            <ul class="media-list" ng-if="showLeadership">
                <li ng-repeat="executive in executives">
                    <div class="media-left media-middle">
                        <a href="#">
                            <img class="media-object img-thumbnail"
                                 ng-src={{executive.image}} alt="{{executive.name}}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h2 class="media-heading">{{executive.name}} <small>{{executive.designation}}</small></h2>

                        <p>{{executive.description}}</p>
                    </div>
                </li>
            </ul>

        </div>
        <div class="col-xs-12 col-sm-3">
            <p style="padding:20px;"></p>
        </div>
    </div-->
    
</div>
