<footer class="row-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-5 col-xs-offset-1 col-sm-2 col-sm-offset-1">
                <h5>Links</h5>
                <ul class="list-unstyled" ng-include src="'views/_menu.html'"></ul>
            </div>
            <div class="col-xs-6 col-sm-5">
                <h5>{{ 'FOOTER.CONTACT_US' | translate }}</h5>
                <address>
                    <i class="fa fa-envelope"></i>: <a href="mailto:masiorama@gmail.com">masiorama@gmail.com</a>
                </address>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="nav navbar-nav" style="padding: 40px 10px;">
                    <a class="btn btn-social-icon btn-google-plus" href="http://google.com/+"><i class="fa fa-google-plus"></i></a>
                    <a class="btn btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook"></i></a>
                    <a class="btn btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa fa-twitter"></i></a>
                </div>
            </div>
            <div class="col-xs-12">
                <p style="padding:10px;"></p>
                <p align=center>© Copyright 2016 JAVS 3D Slots Cars</p>
            </div>
        </div>
    </div>
</footer>