<div class="container" id="garage">
  <div class="row row-content">
    <div class="col-xs-12" ng-if="!showGarage">
      <h3>{{message}}</h3>
    </div>
    <div class="col-xs-12" ng-if="showGarage">
      <button ng-click="toggleDetails()" class="btn btn-xs btn-primary pull-right" type="button">
        {{showDetails ? 'Hide Details':'Show Details'}}
      </button>
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" ng-class="{active:isSelected(1)}">
          <a ng-click="select(1)" aria-controls="all menu" role="tab">All</a>
        </li>
        <li role="presentation" ng-class="{active:isSelected(2)}">
          <a ng-click="select(2)" aria-controls="appetizers" role="tab">Type 1</a>
        </li>
        <li role="presentation" ng-class="{active:isSelected(3)}">
          <a ng-click="select(3)" aria-controls="mains" role="tab">Type 2</a>
        </li>
        <li role="presentation" ng-class="{active:isSelected(4)}">
          <a ng-click="select(4)" aria-controls="desserts" role="tab">Type 3</a>
        </li>
      </ul>

      <div class="tab-content">
        <ul class="media-list tab-pane fade in active">
          <li class="media" ng-repeat="model in models | filter:filtText">
            <div class="media-left media-middle">
              <a ui-sref="app.modeldetail({id: model.id})">
                <img class="media-object img-thumbnail" ng-src={{model.translations[lang].image}} alt="">
              </a>
            </div>
            <div class="media-body">
              <h2 class="media-heading">{{model.translations[lang].code}}
                <span class="label label-danger">{{model.translations[lang].name}}</span>
                <span class="badge">{{model.translations[lang].reference}}</span></h2>
                <div>{{model.translations[lang].body.description | limitTo:100  }}</div>
                <div ng-bind-html="model.translations[lang].body.description"></div>
                <p ng-show="showDetails">{{model.translations[lang].body.details }}</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
