<div class="row-header">
    <nav class="navbar navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" ui-sref="app">
                    <img src="../images/new-logo.png" alt="JAVS 3D Slots Cars" class="img-responsive">
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav" ng-include src="'views/_menu.html'"></ul>
                <div class="navbar-form navbar-right" ng-controller="NewsletterController">
                    <form>
                        <div class="form-group">
                            <input type="text" placeholder="Email" class="form-control">
                            <input type="hidden" class="form-control" value="{{ lang }}">
                        </div>
                        <button type="submit" class="btn btn-success">Sign in</button>
                        <div class="btn-group" role="group" aria-label="..." ng-controller="LanguageController">
                            <button class="btn btn-xs btn-default" ng-click="changeLanguage('it')" translate="HEADER.BUTTON_LANG_IT"></button>
                            <button class="btn btn-xs btn-default" ng-click="changeLanguage('en')" translate="HEADER.BUTTON_LANG_EN"></button>
                        </div>
                    </form>

                </div>
            </div>
        </div>

    </nav>
</div>

