<div class="row-content">
    <header class="jumbotron">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="images/slider.jpg" alt="...">
                    <div class="carousel-caption">
                        <h3>Titolo No modello</h3>
                        <p>Caption No modello</p>
                    </div>
                </div>
                <div class="item">
                    <img src="images/slider.jpg" alt="...">
                    <div class="carousel-caption">
                        Caption No modello?
                    </div>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </header>
    <div class="container">
        <div class="row" id="latest-models">
            <div class="col-xs-12">
                <h2>{{ 'HOME.LATEST_MODELS' | translate }}</h2>
            </div>
            <div class="col-md-4" ng-if="!showModels">
                <h3>{{message}}</h3>
            </div>
            <div class="col-md-4" ng-if="showModels" ng-repeat="model in models|limitTo:-3|orderBy:'-id'">
                <div class="media">
                    <div class="thumbnail">
                        <img ng-src="{{model.translations[lang].image}}" alt="{{model.translations[lang].code}} - {{model.translations[lang].name}}" class="img-responsive">
                        <div class="caption">
                            <h3>{{model.translations[lang].code}}</h3>
                            <h4>{{model.translations[lang].name}}</h4>
                            <h5>{{model.translations[lang].reference}}</h5>
                            <div>{{model.translations[lang].body.description | limitTo:100  }}...</div>
                            <p class="btn-cont">
                                <a ui-sref="app.modeldetail({id: model.id})" class="btn btn-default" role="button">Details</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="our-workflow">
            <div class="col-xs-12">
                    <h2>{{ 'HOME.OUR_WORKFLOW' | translate }}</h2>
            </div>
            <div class="col-xs-12">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=242%C3%97200&w=400&h=200" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <div class="caption">
                            <h3 class="media-heading">Disegno</h3>
                            <h4 class="media-heading">Media heading</h4>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="media">
                    <div class="media-body">
                        <div class="caption">
                            <h3 class="media-heading">Pezzo Bianco</h3>
                            <h4 class="media-heading">Media heading</h4>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        </div>
                    </div>
                    <div class="media-right">
                        <a href="#">
                            <img class="media-object" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=242%C3%97200&w=400&h=200" alt="...">
                        </a>
                    </div>

                </div>
            </div>
            <div class="col-xs-12">
                <div class="media">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=242%C3%97200&w=400&h=200" alt="...">
                        </a>
                    </div>
                    <div class="media-body">
                        <div class="caption">
                            <h3 class="media-heading">Macchina Finita</h3>
                            <h4 class="media-heading">Media heading</h4>
                            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
