<div class="container" id="model-detail">
    <div class="row row-content">
        <div class="col-xs-12" ng-if="!showModel">
            <h3>{{message}}</h3>
        </div>
        <div class="col-xs-12" ng-if="showModel">
            <button class="btn btn-xs btn-primary pull-right" type="button" ui-sref="app.menu">
                Back to Garage
            </button>
            <div class="media">
                <div class="media-left media-middle">
                    <a href="#">
                        <img class="media-object img-thumbnail" ng-src={{model.translations[lang].image}} alt="">
                    </a>
                </div>
                <div class="media-body">
                    <h2 class="media-heading">{{model.translations[lang].code}} <span class="label label-danger">{{model.translations[lang].name}}</span></h2>
                    <p>{{model.translations[lang].reference}}</p>
                    <div ng-bind-html="model.translations[lang].body.description"></div>
                    <div>
                        {{model.translations[lang].body.details}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
